.alert {
  position: fixed;
  top: -100%; /* Начальное значение за пределами экрана */
  left: 50%;
  transform: translateX(-50%);
  background-color: pink;
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

  &.show {
    top: 20px; /* Значение для появления сверху */
    opacity: 1;
    visibility: visible;
  }
}
